<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings />
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
          La section <authentication> permet de configurer 
          le mode d'authentification de la sécurité utilisé par 
          ASP.NET pour identifier un utilisateur entrant. 
        -->
        <authentication mode="Windows" />
        <!--
            La section <customErrors> permet de configurer 
           les actions à exécuter si/quand une erreur non gérée se produit 
           lors de l'exécution d'une requête. Plus précisément, 
           elle permet aux développeurs de configurer les pages d'erreur html 
           pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
